.obstacle {
    --hexCardBgColor : rgba(230, 0, 0, 0.4);
    /** border-color: crimson;**/
}
.market {
    --hexCardBgColor : rgba(250, 180, 0, 0.4);
    /*border-color: rgba(250, 180, 0);*/
}
.producer {
    --hexCardBgColor : rgba(150, 150, 150, 0.4);
}
.hexagon {
    height: calc( var(--hexagon-unity) * 5cm );
    width: calc( var(--hexagon-unity) * 3cm );
    position:relative;
    left: calc( var(--hexagon-unity) * 1.25cm );
    box-sizing: border-box;
    margin-left: calc( var(--hexagon-unity) * 1.25cm );
    margin-right: calc( var(--hexagon-unity) * 1.25cm );
}
.hexagon::before, .hexagon::after {
    content:"";
    position: absolute;
    height: 0;
    width: 0; 
    top:0;
    border-top: calc( var(--hexagon-unity) / 2 * 5cm ) solid transparent;
    border-bottom: calc( var(--hexagon-unity) / 2 * 5cm ) solid transparent; 
}
.hexagon::before {
    left:calc( var(--hexagon-unity) * -1.25cm );
    border-right:calc( var(--hexagon-unity) * 1.25cm ) solid var(--hexCardBgColor); 
}
.hexagon::after {
    right:calc( var(--hexagon-unity) * -1.25cm );
    border-left:calc( var(--hexagon-unity) * 1.25cm ) solid var(--hexCardBgColor); 
}
.cardBody {
    background-color: var(--hexCardBgColor);
}
