.row {
    display: flex;
    flex-direction: row;
}

.resource-icon {
    border-radius: 60%;
}

.resource-wood-color{
    /*filter: sepia(13%) saturate(2994%) hue-rotate(357deg) brightness(88%) contrast(91%);*/
    background-color: brown;
}

.resource-food-color {
    background-color: #d4f805;
    /*filter: sepia(86%) saturate(2386%) hue-rotate(9deg) brightness(95%) contrast(102%);*/
}

.resource-water-color {
    /*filter: sepia(19%) saturate(4166%) hue-rotate(161deg) brightness(93%) contrast(103%); */
    background-color: aqua;
}

.resource-spice-color {
    /*filter: sepia(38%) saturate(6123%) hue-rotate(4deg) brightness(102%) contrast(110%);*/
    background-color: blueviolet;
}

.resource-stone-color {
  background-color: grey;
  /*filter: sepia(0%) saturate(0%) 
  hue-rotate(250deg) brightness(97%) contrast(86%);*/
}

.resource-silk-color {
  background-color: pink;
  /*filter: sepia(71%) saturate(6883%) 
  hue-rotate(257deg) brightness(99%) contrast(94%);*/
}

.title {
    
    font-family: ui-monospace;
}

.description-font {
    font-size: 0.3cm;
    
}